* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: rgb(2,0,36);
background: linear-gradient(103deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 400px;
    max-width: 500px;
    text-align: center;
    border: #fff 1px solid;
    border-radius: 5px;
    
}

.input-box {
    margin: 20px;
    position: relative;
    display: flex;
    gap: 10px;
}

.input-box input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 25px;
    border: none;
    outline: none;
}

.input-box button {
    width: 70px;
    padding: 10px;
    margin: 10px 0;
    border-radius: 25px;
    border: none;
    outline: none;
    background: #fff;
    color: #000;
    cursor: pointer;
    transition: ease-in-out 0.4s;
}

.input-box button:hover {
    background: #000;
    color: #fff;
    transition: ease-in-out 0.3s;
}

.weather-box {
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


